@import './base.css';

#app {
  max-width: 36rem;
  margin: 0 auto;
}

@font-face {
  font-family: 'aliceregular';
  src: url('/Alice-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'bevietnammedium';
  src: url('/BeVietnam-Medium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'bevietnamthin';
  src: url('/BeVietnam-Thin.woff') format('woff');
  font-style: normal;
}
