@import './base.css';

#app {
  max-width: 36rem;
  margin: 0 auto;
}

@font-face {
  font-family: 'aliceregular';
  src: url('@/assets/Alice-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bevietnammedium';
  src: url('@/assets/BeVietnam-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bevietnamthin';
  src: url('@/assets/BeVietnam-Thin.woff') format('woff');
  font-weight: thin;
  font-style: normal;
}
